Table Tool.xcodeproj/project.xcworkspace/xcuserdata/*/UserInterfaceState.xcuserstate
Table Tool.xcodeproj/project.xcworkspace/xcuserdata/*/WorkspaceSettings.xcsettings
Table Tool.xcodeproj/project.xcworkspace/xcshareddata/Table Tool.xccheckout
Table Tool/TableToolIcons.pcvd
